<ngx-loading-bar [includeSpinner]="false" [height]="'5px'" [color]="'green'"></ngx-loading-bar>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Bhopal_Exp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="techno">Technology News</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="buss">Bussiness News</a>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &reg;DubeyShop.com 2022; &copy; Deepak dubey</p></div>
</footer>